/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
} */
html, body{
   margin: 0;
  padding: 0;
  height: 100%;
 /* background-image: url("assets/wrtiting-tools.jpg"); */
 /* background-image: url("assets/rick-bg.jpg");  */
 background-repeat: no-repeat;
 background-size: cover;
     font-family: 'Alata';
   color: #4caf50;
   font-size: larger;
   /* overflow: hidden; */
   overflow-y: auto;
   overflow-x: hidden;
}

.completed-text {
  text-decoration: line-through;
  color: gray;
}
.main-layout {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;  /* Push content to the left */
  padding: 20px;
  gap: 30px;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
   border-left: 5px solid #4caf50;
}
.card-panel {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.read-the-docs {
  color: #888;
}
